<%= form_for([:manager, @setting]) do |f| %>
	<div class="form-group">
  		<%= f.text_area(:about_us, class: "wysihtml5") %>
  		<hr>
		  <%= f.submit "送出", data: { disable_with: "上傳並更新設定中..." }, class: "btn btn-normal" %>
 	</div>
<% end %>

<script>
	// 將編輯器圖片寬度設為100%
	$(document).on('ready page:load', function() {
	  $('.wysihtml5-sandbox:eq(0)').attr('id', 'IFrame0'); // $('.wysihtml5-sandbox') is the WYSIHTML5 <iframe>
    var iframe = document.getElementById('IFrame0');
    var doc = iframe.contentDocument || iframe.contentWindow.document;

    doc.body.innerHTML = iframe.textContent || iframe.innerHTML;

    function set_width() {
      $("#IFrame0").contents().find("img").each(function (i, img) {
       	if ($(img).width() != '100%') {
        	$(img).attr('width', '100%');
        }
      });
    }

    $('#edit_q_and_q').on('click', function() {
    	set_width();
    });

    $(doc).on('scroll click', function() {
    	set_width();
    });
  });
</script>
