<div class="row">
	<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
		<div class="modal-body article-description">
      <%= image_tag(@article.article_img) %></br>
      <%= raw(@article.description) %>
    </div>
	</div>
</div>