/* products */

.manager-img {
	width: 120px;
	height: 90px;
}

.product-options {
	min-width: 50px;
}

/* replenishment */

.replenishment {
	width: 50px;
}


/* articles */

.manager-article-img {
	width: 112px;
	height: 70px;
}
