<div>
	<% case order.aasm_state %>
	<% when "order_placed" %>
		<%= link_to("取消訂單",
								cancel_account_order_path(order),
								class: "btn btn-default btn-sm", method: :post) %>
	<% when "paid" %>
		<%= link_to("取消訂單",
								cancel_account_order_path(order),
								class: "btn btn-default btn-sm", method: :post) %>
		
	<% end %>	
</div>