<div class="cart-page row">
	<div class="col-md-offset-1 col-md-10 col-sm-12">
		<div class="center"><h2>你的購物車</h2></div>
  	
  	<%= render 'cart_table' %>

		<div id="note">
			<span id="note-title">購物須知：</span>	<br>
			<div id="note-body">
				<span><i class="fa fa-caret-right" aria-hidden="true"></i> 每筆訂單需加收運費xx元整</span><br>
				<span><i class="fa fa-caret-right" aria-hidden="true"></i> 單筆訂單消費滿xx元可享運費全免</span><br>
				<span><i class="fa fa-caret-right" aria-hidden="true"></i> 運送地區僅限台澎金馬</span><br>
				<span>
					<i class="fa fa-caret-right" aria-hidden="true"></i>
					 更多訊息請詳見 - <%= link_to "關於本店", "#" %>
				</span>
			</div>
		</div>

		<hr>
	
		<div id="cart-bottom-botton" class="clearfix">
			<%= link_to products_path,  class: "button-1 pull-left" do %>
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				<span>繼續選購</span>
			<% end %>
		
		
			<%= link_to checkout_carts_path, class: "button-1 pull-right" do %>
				<span>確認結帳</span>
				<i class="fa fa-arrow-right" aria-hidden="true"></i>
			<% end %>
		</div>
	</div>	
</div>	