<%= link_to "產品上架", new_manager_product_path, class: "btn btn-primary" %>

<div>
	<% @products.each do |product| %>
		<%= product.title %>
		<%= image_tag(product.photo.image.thumb.url) %>
		<%= link_to "編輯", edit_manager_product_path(product) %>
		<HR>	
	<% end %>	
</div>
