
.navbar {
	background: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
	border-bottom: 1px solid darken(#f1f2f3, 15%);
}

.navbar-default .navbar-toggle {
	border: none;
}


.navbar-default .navbar-nav {
	li {
		position:relative;
		a {
		}
	}
}


@media screen and (min-width: 768px) {
	.navbar {
		min-height: 50px ;
		background: #fff;
		filter:Alpha(opacity=0);
	}
	.navbar > .container-fluid > #nav-list > .nav {
	}
	.navbar-brand {
		height: 50px;
		padding: 10px 20px;
		.brand {
			height: 30px;
			width: 146px;
		}
	}

}






@media screen and (min-width: 768px) {
	.navbar-default .navbar-nav {
		li {
			height: 50px;
			a {
				color: #111;
				height: 50px;
				line-height: 50px;
				padding: 0px 15px;
				font-weight: 400;
				font-size: 13px;
				&:hover {
					color: #fff;
					background: $gray2;
					i {
						color: #fff;
					}
				}
				i {
					color: #111;
					font-size: 19px;
				}
			}
		}
	}
	.product-on-shelf {
		a {
			&:hover {
			}
		}
	}
	.navbar-right {
		li {
			border-left: 2px dotted darken(#f1f2f3, 15%);
		}
	}
}



/* phone */


@media screen and (max-width: 768px) {
	.navbar {
		.navbar-nav {
			li {
				padding-left:15px;
			}
		}
		#nav-list {
		}
	}
	.navar-header {
		display: flex;
		justify-content: space-between;
	}
	.navbar-brand {
		height: 56px;
		line-height: 20px;
		padding: 10px;
		.brand {
			height: 40px;
			width: 136px;
		}
	}
}

.nav-cart {
	line-height: 66px;
	height: 56px;
	i {
		font-size: 26px;
		color: #111;
	}
	span {
		padding: 0 5px;
		color: $brown;
	}
}


/* 大螢幕下拉選單滑入展開 */

@media screen and (min-width: 769px) {

	.dropdown-menu li:hover .sub-menu {visibility: visible;}
	.dropdown:hover .dropdown-menu {display: block;}	
}


