/* carts */

.cart-table {
}

.cart-page {
	padding: 0 0 50px 0;
}

.th {
	height: 50px;
	line-height: 50px;
	background: #000;
	color: #fff;
}

.td-body {
}

.td-image {
	width: 30%;
	border-right: none !important;
	.remove-cart-item {
		font-size: 16px;
		color: $gray2;
		&:hover {
			color: $red;
		}
	}
}

.td-item-info {	
	text-align: left;
	border-left: none !important;
}

.td-price {
	min-width:50px;
}

.td-sum{
	min-width:50px;
}


.cart-image {
	width: 140px;
	height: 105px;
}

@media screen and (max-width: 768px) {
	.td-image {
		width: 104px;
	}

	.cart-image {
		width: 88px;
		height: 66px;
	}
}

.cart-message {
	min-height: 50px;
	line-height: 50px;
	background: #eee;
	margin: 20px 0;
	text-align: center;
	.cart-items-count {
		color: $red;
	}
	.cart-price-total {
		color: $red;
		font-size: 18px;
	}
}

#note {
	padding: 10px;
	background: $blue1;
	color: #fff;
	#note-title {
		font-weight: bold;
		font-size: 16px;
	}
	#note-body {
		margin: 10px 0 0 5px;
		a {
			background: #fff;
			padding: 2px;
			&:hover {
				background: $blue2;
				color: #fff;
			}
		}
	}
}

#cart-bottom-botton {
	padding: 20px 13% 0 13%;
	.back {
			margin-top: 10px;
	}
}


@media screen and (max-width: 768px) {
	#cart-bottom-botton {
		padding: 20px 5% 0 5%;
	}
}

/* checkout */

.info-price {
	width: 30px;
}

.info-x {
	width: 5px;
	margin-right:10px;
}

.info-quantity {
	width: 5px;
}
