html, body{ margin:0; height:100%; }

body {
	padding: 57px 0px 0 0px;
  color: $gray2;
  font-family:  Helvetica, sans-serif;
  font-size: 15px;
  word-wrap: break-all;
  .container-fluid  {
  }
  a {
    color: #5482ab;
    font-family:  Helvetica, sans-serif;
    font-weight: 400;
    &:hover {
      text-decoration: none;
      color: darken(#5482ab, 10%);
    }
  }
  .mt {
    margin-top: 60px;
  }
  .md  {
    margin-bottom: 60px;
  }
  .mr {
    margin-right: 10px;
  }
  .ml {
    margin-left: 10px;
  }
  .mrf {
    margin-left: 5px;
    margin-right: 5px;
  }
  .padding-rl {
    padding-left:15px;
    padding-right: 15px;
  }
  .padding-tb {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.min-height {
  min-height: 700px;
}

.border-radius {
  border-radius: 8px;
}

.background-gray {
  background: #eee;
}

.background-white {
  background: #fff;
}


@media screen and (min-width: 768px) {
  body {
    padding-top:51px;
  }
}


@media screen and (max-width: 768px) {
  .container-fluid  {
  }
}

.normal-link {
  color: #333;
  font-weight: 400;
  &:hover {
    color: #000;
    font-weight: bolder;
  }
}



textarea {
	display: block;
  width: 100%;
  height: 300px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* 換行 */

.break-word {
  word-wrap:break-word;
}



/* table */

table {
  word-break: break-all;
}

.table > thead > tr > th {
  vertical-align: middle;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.high-table {
  height: 60px;
}


.div-table {
  display: table;
  width:100%;
  height:100%;
}

.div-tr {
  display: table-row;
  border: 1px solid $gray1;
}

.div-td {
  display: table-cell;
  border: 1px solid $gray1;
  padding: 15px 5px;
  vertical-align: middle;
  color: red;
}



.div-td-body {
  display: table-cell;
  border: 1px solid $gray1;
  border-top: none;
  padding: 5px;
  vertical-align: middle;
}

.rn {
  border-right: none;
}

.ln {
  border-left: none;
}

.t-mid {
  border-left: none;
  border-right: none;
}



/* filter */

.blur{
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false)
}

/* alert */

.alert {
  display: block !important;
  margin: 0 -15px 0px -15px;
  border: none !important;
  border-radius: 0;
}

.alert-success {
  background: $green;
  color: #fff;
}

.alert-warning {
  background: $red1;
  color:#fff;
}


/* display */

.bold {
  font-weight: bold;
}

.large {
  font-size: 19px;
}

.center {
  vertical-align: middle;
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.margin-0 {
  margin: 0;
}

.margin-top {
  margin-top: 10px;
}

.width100 {
  width: 100%;
}

/* color */
.green {
  color: $green;
}

.red {
  color: $red1;
}

.gray {
  color: $gray1;
}

.gray2 {
  color: $gray2;
}

/* font */

.monospace {
  font-family: 'Monaco', 'Andale Mono';
}

.lighter {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


/* paginate */

.paginate {
  height: 50px;
}