html, body{ margin:0; height:100%; }


.article-description {
  margin: 20px auto;
  line-height: 1.8em;
  padding: 0 50px;                 
  img {
    width:100%; 
    height:auto;
    border-radius: 5px;                 
  }
}


@media screen and (max-width: 768px) {
  .article-description {
    margin: 20px auto;
    line-height: 1.8em;
    padding: 15px;                 
  }
}

body {
	padding: 57px 0px 0 0px;
  color: $gray2;
  font-family:  'Noto Sans TC', sans-serif;
  font-size: 15px;
  word-wrap: break-all;
  .container-fluid  {
  }
  a {
    color: #444;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    &:focus {
      color: #fff;
      text-decoration: none;
    }
    &:active {
    }
  }
  .mt {
    margin-top: 60px;
  }
  .md  {
    margin-bottom: 60px;
  }
  .mtd-small {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .mr {
    margin-right: 10px;
  }
  .ml {
    margin-left: 10px;
  }
  .mrf {
    margin-left: 5px;
    margin-right: 5px;
  }
  .padding-rl {
    padding-left:15px;
    padding-right: 15px;
  }
  .padding-tb {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .padding-rl-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (max-width: 767px) {
    .padding-rl-40 {
      padding: 0px;
    }
  }
}



.min-height {
  min-height: 700px;
}

.border-radius {
  border-radius: 8px;
}

.background-gray {
  background: #eee;
}

.background-white {
  background: #fff;
}


@media screen and (max-width: 768px) {
  .container-fluid  {
  }
}

/* link */
.normal-link {
  color: #333;
  font-weight: 400;
  &:hover {
    color: #000;
    font-weight: bolder;
  }
}

.gray-link {
  color: #666;
}


.grow-link {
  &:hover {
    font-size: 22px !important;
  }
}


/* textarea */
textarea {
	display: block;
  width: 100%;
  height: 500px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* 換行 */

.break-word {
  word-wrap:break-word;
}



/* table */

table {
  word-break: break-all;
}

.table > thead > tr > th {
  vertical-align: middle;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.high-table {
  height: 60px;
}


.div-table {
  display: table;
  width:100%;
  height:100%;
}

.div-tr {
  display: table-row;
  border: 1px solid $gray1;
}

.div-td {
  display: table-cell;
  border: 1px solid $gray1;
  padding: 15px 5px;
  vertical-align: middle;
  color: red;
}



.div-td-body {
  display: table-cell;
  border: 1px solid $gray1;
  border-top: none;
  padding: 5px;
  vertical-align: middle;
}

.rn {
  border-right: none;
}

.ln {
  border-left: none;
}

.t-mid {
  border-left: none;
  border-right: none;
}



/* filter */

.blur{
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false)
}

/* alert */

.alert {
  display: block !important;
  margin: 0 -15px 0px -15px;
  border: none !important;
  border-radius: 0;
  letter-spacing: 1px;
}

.alert-success {
  background: #666;
  color: $gold;
}

.alert-warning {
  background: $gray;
  color: $red;
}


/* paginate */

.paginate {
  height: 50px;
}


/* 分頁 */

.tab-product {
  img {
    max-width: 100%;
  }  
}


/* outputs */

#output {
  width: 320px;
  height: 240px;
  max-width: 100%;
}

#article-output {
  width: 320px;
  height: 200px;
  max-width: 100%;
}

#nutrition-output {
  width: 320px;
  height: 200px;
  max-width: 100%;

}

#certification-output {
  width: 320px;
  height: 200px;
  max-width: 100%;  
}