html, body{ margin:0; height:100%; }

body {
	padding: 70px 5px 0 5px;
  color: $gray2;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.hr-2 {
  margin: 5px 0;
}


textarea {
	display: block;
  width: 100%;
  height: 300px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inline-block {
  display: inline-block;
}

.table-div {
  border: 1px solid $gray;
  margin-left: -1px;
  margin-top: -1px;
  padding: 5px;
}

.table-div-body {
  border: 1px solid $gray;
  margin-left: -1px;
  margin-top: -1px;
  padding: 5px;
  .row {
  }
}




/* button */

.button-1 {
  border: 2px solid $gray2;
  padding: 10px;
  background: #fff;
  color: $gray2;
  &:hover {
    background: $gray2;
    color: #fff;
  }
}

/* filter */

.blur{
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false)
}

