/* 雜 */

.m-link {
  background: $green;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  &:hover {
    color: $gray;
    background: darken($green, 10%);
  }
}

/* button */

.btn {
  
}

.btn-normal {
  border: 2px solid $mc;
  padding: 3px 10px;
  background:  $mc;
  color: #fff;
  font-size: 15px;
  &:hover {
    border: 2px solid darken($mc, 10%);
    background:darken($mc, 10%);
    color: #fff;
  }
}

.button-1 {
  border: 2px solid $gray2;
  padding: 5px 8px;
  background: #fff;
  color: $gray2;
  &:hover {
    background: $gray2;
    color: #fff;
  }
}


.button-blue {
  border: 2px solid $blue1;
  padding: 5px 8px;
  background:  $blue1;
  color: #fff;
  &:hover {
    border: 2px solid darken($blue1, 10%);
    background:darken($blue1, 10%);
    color: #fff;
  }
}

.btn-small {
  border: 2px solid $mc;
  padding: 5px 8px;
  background:  $mc;
  color: #fff;
  font-size: 12px;
  &:hover {
    border: 2px solid darken($mc, 10%);
    background:darken($mc, 10%);
    color: #fff;
  }
}

.btn-sw {
  border: 2px solid $mc;
  padding: auto;
  height: 60px;
  text-align: center;
  width: 100%;
  background:  $mc;
  color: #fff;
  font-size: 15px;
  &:hover {
    border: 2px solid darken($mc, 10%);
    background:darken($mc, 10%);
    color: #fff;
  }  
}

.button-disabled {
  border: 2px solid $gray1;
  padding: 8px 10px;
  background: $gray1;
  color: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
  font-weight: bold;
}

/* select */



.styled-select select {
   background: transparent;
   width: 60px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none; /*for chrome*/
}


/* hr */

.hr-1 {
  border:0; 
  height:1px; 
  background-color: #e9e8dd;
  color: #e9e8dd; 
}

.hr-2 {
  margin: 5px 0;
}

/* border */

.border {
  border: 2px solid $mc;
  padding: 10px;
  background: #fff;
}

.border-m {
  border: 1px solid $mc;
  padding: 10px;
  background: #fff;
  max-width: 400px;  
}

/* margin */

.margin-td {
  margin: 20px 0;
}
