/* 雜 */

.m-link {
  background: $gray;
  color: #555;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  &:hover {
    color: #333;
    background: darken($gray, 10%);
  }
}

.white-link {
  color: #fff;
}

.opacity-link {
  &:hover {
    filter: opacity(0.6);
    -webkit-filter:opacity(0.6);
    transition-duration: 1s;
    -moz-transition-duration: 1s; /* Firefox 4 */
    -webkit-transition-duration: 1s; /* Safari 和 Chrome */
  }

}

/* button */

#js-load-more {
  border: 2px solid $gold;
  border-radius: 3px;
  padding: 10px 10px;
  color: $gold;
  background: #fff;
  width: 100%;
  font-size: 18px;    
}

.btn {

}

.btn-normal {
  border: 2px solid #444;
  border-radius: 3px;
  padding: 3px 10px;
  background:  #444;
  color: #fff;
  font-size: 15px;
  &:hover {
    border: 2px solid darken(#444, 10%);
    background:darken(#444, 10%);
    color: #fff;
  }
}

.button-1 {
  border: 2px solid $gray2;
  border-radius: 3px;
  padding: 5px 8px;
  background: #fff;
  color: $gray2;
  &:hover {
    background: $gray2;
    color: #fff;
  }
}


.button-blue {
  border: 2px solid $blue1;
  padding: 5px 8px;
  background:  $blue1;
  color: #fff;
  &:hover {
    border: 2px solid darken($blue1, 10%);
    background:darken($blue1, 10%);
    color: #fff;
  }
}

.btn-small {
  border: 2px solid $mc;
  border-radius: 3px;
  padding: 5px 8px;
  background:  $mc;
  color: #fff;
  font-size: 12px;
  &:hover {
    border: 2px solid darken($mc, 10%);
    background:darken($mc, 10%);
    color: #fff;
  }
}

.btn-sw {
  border: 2px solid $mc;
  border-radius: 3px;
  padding: auto;
  height: 60px;
  text-align: center;
  width: 100%;
  background:  $mc;
  color: #fff;
  font-size: 15px;
  &:hover {
    border: 2px solid darken($mc, 10%);
    background:darken($mc, 10%);
    color: #fff;
  }  
}

.button-disabled {
  border: 2px solid $gray1;
  border-radius: 3px;
  padding: 8px 10px;
  background: $gray1;
  color: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
  font-weight: bold;
}

/* select */



.styled-select select {
   background: transparent;
   width: 60px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none; /*for chrome*/
}


/* hr */

.hr-1 {
  border:0; 
  height:1px; 
  background-color: #e9e8dd;
  color: #e9e8dd; 
}

.hr-2 {
  margin: 5px 0;
}

/* border */

.border {
  border: 1px solid $border;
  padding: 10px;
  background: #fff;
}

.border-no-top {
  border: 1px solid $border;
  border-top: 1px solid #fff ;
}

.border-n {
  border: 1px solid $mc;
  padding: 30px 20px;
  background: #fff;
  border-radius: 10px;
}

.border-m {
  border: 1px solid $mc;
  padding: 10px;
  background: #fff;
  max-width: 400px;  
}

/* margin */

.margin-td {
  margin: 20px 0;
}



/* wysiwyg */

.wysiwyg-color-maroon {
  color: #941100;
}



/* LINE-BEHIND TITLE */

/**
 * Horizontal Type Line Behind Text
 * Inspired by this discussion @ CSS-Tricks: https://css-tricks.com/forums/topic/css-trick-for-a-horizontal-type-line-behind-text/#post-151970
 * Available on jsFiddle: http://jsfiddle.net/ericrasch/jAXXA/
 * Available on Dabblet: http://dabblet.com/gist/2045198
 * Available on GitHub Gist: https://gist.github.com/2045198
 */

h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2.background {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}

h2.double:before { 
    /* this is just to undo the :before styling from above */
    border-top: none; 
}

h2.double:after {
    border-bottom: 1px solid blue;
    -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 0; right: 0;
    width: 95%;
    z-index: -1;
}

h2.no-background {
    position: relative;
    overflow: hidden;
    
    span {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        position: relative;
        padding: 0 20px;

        &:before, &:after {
            content: '';
            display: block;
            width: 1000px;
            position: absolute;
            top: 0.73em;
            border-top: 1px solid red;
        }

        &:before { right: 100%; }
        &:after { left: 100%; }
    }
}

h2.no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid green;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}
