.products-page {
	padding:10px;	
 	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:wrap;
}

.product-itme {
	width: 280px;
	margin: 30px 10px;
	.product-item-info {
		width: 280px;
		padding: 0 5px;
		font-size: 14px;
		.product-item-title {
			display: block;
			font-size: 18px;
			font-weight: bolder;
			margin: 10px 0;
		}
		.product-item-description {
			height: 110px;
		}
		.product-item-price {
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 680px) {
	.product-itme {
		color: red;
	} 
}



/* product_show */

.product-price {
	margin: 30px 0 30px 0;
  #product-price-nt {
  	color: #dc4e41;
  }
  #product-price-number {
		font-size: 22px;
		color: #dc4e41;
	}
}



/* product_new */

#output {
	height: 300px;
	width: 400px;
	max-width: 100%;
}