<div class=" col-md-12 modal fade" id="render_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title center" id="ajax-article-title">....</h4>
      </div>
      <div class="modal-body article-description" id="ajax-article-description">
        <!-- 讀取中icon -->
        <div class="center" style="padding: 60px 0;">
          <i class="fa fa-refresh fa-spin fa-3x fa-fw" id="ajax-article-loading"></i>
          <span class="sr-only">Loading...</span>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-normal" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>