<!-- Modal -->
<div class=" col-md-12 modal fade" id="q_and_a_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Q ＆ A</h4>
        <%= link_to "認識圓滿生機", "#", data: {toggle: "modal", target: "#about_us_modal"}  %>
      </div>
      <div class="modal-body">
        <%= raw(@setting.q_and_a) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-normal" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
